.standard-radial-pulse {

  --standard-effects-radial-pulse-shadow: rgb(236 195 255 / 15%);
  --standard-effects-radial-pulse-border: rgb(236 195 255 / 32%);
  position: relative;
  width: 160px;
  height: 160px;
}

.standard-radial-pulse .dot-center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  border-radius: 50%;
  background: var(--pf-base-60);
  box-shadow: 0 0 0 2px var(--standard-effects-radial-pulse-shadow);
}

.standard-radial-pulse .ring {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  border-radius: 50%;
  border: 2px solid var(--standard-effects-radial-pulse-border);
  transform: scale(0.1);
  opacity: 0.8;
}
