.reveal-prize-pop-container {

  --reveal-effects-prize-pop-border: #FFD700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  position: relative;
}

.reveal-prize-pop-item {
  width: 110px;
  height: 110px;
  object-fit: contain;
  z-index: 10;
  filter: drop-shadow(0 8px 15px rgb(0 0 0 / 20%));
}

.reveal-prize-pop-ripple {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid var(--reveal-effects-prize-pop-border);
  background: transparent;
  z-index: 1;
}