.reveal-card-fan-container {

  --reveal-effects-card-fan-shadow: rgb(0 0 0 / 20%);
  --reveal-effects-card-fan-border: rgb(255 255 255 / 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  position: relative;
}

.reveal-card-fan-item {
  width: 140px;
  height: 200px;
  border-radius: 12px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px var(--reveal-effects-card-fan-shadow);
  border: 2px solid var(--reveal-effects-card-fan-border);
}

.reveal-card-fan-icon {
  font-size: 48px;
}
