.reveal-prize-float-container {

  --reveal-effects-prize-float-land-bg-1: #a18cd1;
  --reveal-effects-prize-float-land-bg-2: #fbc2eb;
  --reveal-effects-prize-float-land-shadow: rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}

.reveal-prize-float-item {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, var(--reveal-effects-prize-float-land-bg-1) 0%, var(--reveal-effects-prize-float-land-bg-2) 100%);
  border-radius: 20px;
  box-shadow: 0 10px 20px var(--reveal-effects-prize-float-land-shadow);
}

.reveal-prize-float-icon {
  font-size: 48px;
}
