/* Styles for LoadingStatesRingProgress */

.pf-loading-container {

  --loading-states-ring-progress-stroke-1: rgb(236 195 255 / 20%);
  --loading-states-ring-progress-stroke-2: #c47ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
}
.pf-ring-progress {
  position: relative;
  width: 60px;
  height: 60px;
}

.pf-ring-progress svg {
  transform: rotate(-90deg);
}
.pf-ring-progress circle.base {
  stroke: var(--loading-states-ring-progress-stroke-1);
}
.pf-ring-progress circle.pf-progress-ring {
  stroke: var(--loading-states-ring-progress-stroke-2);
}

