/* Styles scoped for TextEffectsLevelBreakthrough */
.pf-breakthrough-container {

  --text-effects-level-breakthrough-color: #ffce1a;
  position: relative;
}
.pf-level-breakthrough {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-effects-level-breakthrough-color);
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 2;
}
.pf-surge-lines {
  position: absolute;
  inset: 0;
  opacity: 0;
}
