/* Styles specific to RealtimeDataWinTicker */

.pf-realtime-data {

  --realtime-data-win-ticker-bg-1: rgb(17 24 39 / 80%);
  --realtime-data-win-ticker-border: rgb(75 85 99 / 30%);
  --realtime-data-win-ticker-bg-2: rgb(31 41 55 / 80%);
  --realtime-data-win-ticker-color: #f59e0b;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  font-family: Lato, sans-serif;
  background: var(--realtime-data-win-ticker-bg-1);
  border-radius: 12px;
  border: 1px solid var(--realtime-data-win-ticker-border);
  width: 100%;
  box-sizing: border-box;
}

.pf-realtime-data__ticker {
  background: var(--realtime-data-win-ticker-bg-2);
  border-radius: 8px;
  padding: 12px;
  overflow: hidden;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.pf-realtime-data__ticker-text {
  color: var(--realtime-data-win-ticker-color);
  font-weight: 600;
  white-space: nowrap;
  position: absolute;
  will-change: transform;
  animation: ticker-scroll 8s linear infinite;
}

@keyframes ticker-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
