/* Base styles for Progress Segmented */
.pf-progress-segmented {

  --progress-bars-progress-segmented-bg-1: rgb(78 24 124 / 12%);
  --progress-bars-progress-segmented-bg-2: #c6ff77;
  --progress-bars-progress-segmented-bg-3: #d4ff9f;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 80px;
  justify-content: center;
}

.pf-progress-segmented .pf-progress-track {
  width: 100%;
  height: 12px;
  border-radius: 999px;
  background: var(--progress-bars-progress-segmented-bg-1);
  overflow: hidden;
  position: relative;
}

.pf-progress-segmented .pf-progress-fill {
  height: 100%;
  background: linear-gradient(90deg, var(--progress-bars-progress-segmented-bg-2) 0%, var(--progress-bars-progress-segmented-bg-3) 100%);
  border-radius: inherit;
  transform-origin: left center;
  position: relative;
  transform: scaleX(0);
  will-change: transform;
}
