.boss-health-container-css {

  --progress-bars-boss-health-bg-1: #1c1917;
  --progress-bars-boss-health-color-1: #fff;
  --progress-bars-boss-health-color-2: #ef4444;
  --progress-bars-boss-health-bg-2: #44403c;
  --progress-bars-boss-health-border: #78716c;
  --progress-bars-boss-health-bg-3: #fcd34d;
  --progress-bars-boss-health-bg-4: #dc26;
  --progress-bars-boss-health-bg-5: #991b1b;
  width: 100%;
  padding: 20px;
  background: var(--progress-bars-boss-health-bg-1);
  color: var(--progress-bars-boss-health-color-1);
  font-family: serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boss-health-frame-css {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.boss-skull-css {
  font-size: 24px;
  color: var(--progress-bars-boss-health-color-2);
}

.boss-health-track-css {
  flex: 1;
  height: 30px;
  background: var(--progress-bars-boss-health-bg-2);
  border: 3px solid var(--progress-bars-boss-health-border);
  position: relative;
  border-radius: 4px;
}

.boss-health-fill-css {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.boss-health-fill-css.delay {
  background: var(--progress-bars-boss-health-bg-3); 
  z-index: 1;
  transition: width 0.5s ease-out;
}

.boss-health-fill-css.current {
  z-index: 2;
  background: linear-gradient(to bottom, var(--progress-bars-boss-health-color-2), var(--progress-bars-boss-health-bg-5));
  transition: width 0.2s cubic-bezier(0.34, 1.56, 0.64, 1); /* Bouncy spring-like css transition */
}

.boss-name-css {
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
}
